@use "../styles/variables.scss" as *;

.apartment {
    background-image: url("https://picsum.photos/200");
    /*en attendant*/
    border-radius: 14px;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;

    @media screen and (width <=768px) {
        .apartment {
            flex-basis: 100%;
        }
    }


    & &__subtitle {
        width: 50%;
        margin-inline-start: 8px;
        margin-block-end: 8px;
        color: $color-tertiary;

        &:hover {
            text-decoration: underline;
        }
    }
}