@use "../styles/variables.scss" as *;

.description__panel {
    margin-bottom: 16px;
    flex-basis: 50%;
    p {
        margin-block: 0;
    }

    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 12px 16px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .description__content {
        background-color: $color-description;
        color: $color-primary;
        padding: 16px;
        border-radius: 10px;
        position: relative;
        top: -0.3rem;
        z-index: -1;
    }
}